* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1e3a8a;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.login-container {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

}

.login-box {
    background: white;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.login-box h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e3a8a;
}

.login-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background: #16306d;
}

.login-box a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #1e3a8a;
    font-weight: bold;
}

footer {

    width: 100%;

    background: #0d47a1;

    color: white;

    text-align: center;

    padding: 15px;

}