* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a8a;
    color: white;
    padding: 15px 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 45px;
    color: #1e3a8a;
}

.hero p {
    margin-top: 20px;
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    color: #1e3a8a;
    margin-bottom: 10px;
}

footer {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

footer {

    background: #0d47a1;

    color: white;

    text-align: center;

    padding: 15px;

    margin-top: 40px;

    font-size: 15px;

}

.sidebar a.active {
    background: #1e3a8a;
    color: white;
    border-radius: 6px;
}